In [1]:
import pandas as pd
import numpy as np
from forex_python.converter import CurrencyRates

In [30]:
df = pd.read_excel('salaray_survey_2021.xlsx')
df

,Timestamp,How old are you?,What industry do you work in?,Job title,"If your job title needs additional context, please clarify here:","What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)","How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.",Please indicate the currency,"If ""Other,"" please indicate the currency here:","If your income needs additional context, please provide it here:",What country do you work in?,"If you're in the U.S., what state do you work in?",What city do you work in?,How many years of professional work experience do you have overall?,How many years of professional work experience do you have in your field?,What is your highest level of education completed?,What is your gender?,What is your race? (Choose all that apply.)
0,2021-04-27 11:02:09.743,25-34,Education (Higher Education),Research and Instruction Librarian,NaN,55000,0.0,USD,NaN,NaN,United States,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White
1,2021-04-27 11:02:21.562,25-34,Computing or Tech,Change & Internal Communications Manager,NaN,54600,4000.0,GBP,NaN,NaN,United Kingdom,NaN,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White
2,2021-04-27 11:02:38.125,25-34,"Accounting, Banking & Finance",Marketing Specialist,NaN,34000,NaN,USD,NaN,NaN,US,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman,White
3,2021-04-27 11:02:40.643,25-34,Nonprofits,Program Manager,NaN,62000,3000.0,USD,NaN,NaN,USA,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman,White
4,2021-04-27 11:02:41.793,25-34,"Accounting, Banking & Finance",Accounting Manager,NaN,60000,7000.0,USD,NaN,NaN,US,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman,White
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27941,2023-02-27 06:22:35.240,25-34,Computing or Tech,Sr software engineer,NaN,190000,14000.0,USD,NaN,NaN,United States,Texas,Dallas,5-7 years,5-7 years,College degree,Man,Asian or Asian American
27942,2023-03-01 09:43:37.098,45-54,Property or Construction,Property Manager,Senior,55000,13000.0,USD,NaN,NaN,United States,Ohio,Brunswick,21 - 30 years,11 - 20 years,NaN,NaN,NaN
27943,2023-03-06 18:16:18.899,25-34,Behavioral Health,Mental Health Therapist,NaN,52416,NaN,USD,NaN,NaN,USA,Virginia,Spotsylvania,2 - 4 years,2 - 4 years,Master's degree,Woman,White
27944,2023-03-09 09:11:48.506,18-24,Computing or Tech,Help Desk Associate Analyst,NaN,36000,NaN,USD,NaN,NaN,United States,Illinois,Chicago,5-7 years,2 - 4 years,College degree,Man,Black or African American
27945,2023-03-12 14:32:04.060,25-34,Recruitment or HR,HR generalist,NaN,60000,NaN,USD,NaN,NaN,US,California,Diamond bar,1 year or less,1 year or less,College degree,Woman,White

CREATE NEW DATAFRAME

In [48]:
data = {'Industry' : None,
        'Work Experience Overall' : None,
        'Work Experience in the same Field' :  None,
        'Gender' : None,
        'Education' : None,
        'Currency' : None,
        'Total Salary' : None,
        'Total Salary (USD)' : None}

data

latihan_df = pd.DataFrame(data, columns=['Industry', 'Work Experience Overall', 'Work Experience in the same Field', 'Gender', 'Education', 'Currency', 'Total Salary', 'Total Salary (USD)'])
latihan_df

# latihan_df.loc[0, 'Industry'] = "testing"
# latihan_df

# latihan_df.drop(0, inplace=True)
# latihan_df

Empty DataFrame
Columns: [Industry, Work Experience Overall, Work Experience in the same Field, Total Salary, Currency, Gender, Education]
Index: []

RENAME ORIGINAL DATAFRAME COLUMN

In [51]:
df = df.rename(columns={"What is your annual salary? (You\'ll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)": 'Annual Salary',
                        "How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits." : "Monetary Compensation",
                        "What industry do you work in?" : "Industry",
                        "How many years of professional work experience do you have overall?" : "Work Experience Overall",
                        "How many years of professional work experience do you have in your field?" : "Work Experience in the same Field",
                        "What is your gender?" : "Gender",
                        "What is your highest level of education completed?" : "Education",
                        "Please indicate the currency" : "Currency",
                        "If \"Other,\" please indicate the currency here: " : "Other Currency"})

df.iloc[0]

Timestamp                                                                   2021-04-27 11:02:09.743000
How old are you?                                                                                 25-34
Industry                                                                  Education (Higher Education)
Job title                                                           Research and Instruction Librarian
If your job title needs additional context, please clarify here:                                   NaN
Annual Salary                                                                                    55000
Monetary Compensation                                                                              0.0
Currency                                                                                           USD
Other Currency                                                                                     NaN
If your income needs additional context, please provide it here:                                   NaN
What country do you work in?                                                             United States
If you're in the U.S., what state do you work in?                                        Massachusetts
What city do you work in?                                                                       Boston
Work Experience Overall                                                                      5-7 years
Work Experience in the same Field                                                            5-7 years
Education                                                                              Master's degree
Gender                                                                                           Woman
What is your race? (Choose all that apply.)                                                      White
Name: 0, dtype: object

In [53]:
# df.columns
# group_result = df['Industry'].value_counts().reset_index()
# group_result = df['Work Experience Overall'].value_counts().reset_index()
# group_result = df['Work Experience in the same Field'].value_counts().reset_index()
# group_result = df['Gender'].value_counts().reset_index()
# group_result = df['Education'].value_counts().reset_index()
group_result = df['Currency'].value_counts().reset_index()
# group_result = df['Other Currency'].value_counts().reset_index()
print(group_result.to_string())

   Currency  count
0       USD  23288
1       CAD   1665
2       GBP   1585
3       EUR    637
4   AUD/NZD    500
5     Other    156
6       CHF     37
7       SEK     37
8       JPY     23
9       ZAR     14
10      HKD      4

In [58]:
total_rows = df.shape[0]
c = CurrencyRates()
GBP_to_USD = c.get_rate('GBP', 'USD')

for i in range(total_rows):
    industry = df.loc[i, 'Industry']
    work_experience_overall = df.loc[i, 'Work Experience Overall']
    work_experience_in_the_same_field = df.loc[i, 'Work Experience in the same Field']
    annual_salary = df.loc[i, 'Annual Salary'] 
    monetary_compensation = df.loc[i, 'Monetary Compensation']
    currency = df.loc[i, 'Currency']
    gender = df.loc[i, 'Gender']
    education = df.loc[i, 'Education']

    if np.isnan(monetary_compensation):
        monetary_compensation = 0.0
    else:
        monetary_compensation = monetary_compensation

    total_salary = annual_salary + monetary_compensation

    latihan_df.loc[i, 'Industry'] = industry
    latihan_df.loc[i, 'Work Experience Overall'] = work_experience_overall
    latihan_df.loc[i, 'Work Experience in the same Field'] = work_experience_in_the_same_field
    latihan_df.loc[i, 'Total Salary'] = total_salary
    latihan_df.loc[i, 'Currency'] = currency
    latihan_df.loc[i, 'Gender'] = gender
    latihan_df.loc[i, 'Education'] = education

    print(currency)
    if currency != 'USD':
        converted_total_salary_to_USD = total_salary * c.get_rate(currency, 'USD')
        latihan_df.loc[i, 'Total Salary (USD)'] = converted_total_salary_to_USD
    else:
        latihan_df.loc[i, 'Total Salary (USD)'] = total_salary
    

# 'Industry', 'Work Experience Overall', 'Work Experience in the same Field', 'Total Salary', 'Currency', 'Gender', 'Education'
# df['Total Salary'] = pd.Series([np.nan] * len(df))
latihan_df

USD
GBP
USD
USD
USD
USD
USD
USD
USD
USD
USD
USD
USD
USD
CAD
GBP
USD
USD
USD
USD
USD
USD
CAD
USD
USD
USD
USD
USD
USD
USD
USD
USD
USD
USD
USD
USD
USD
USD
USD
USD
USD
GBP
USD
USD
USD
USD
USD
USD
CAD
CAD
USD
USD
USD
USD
CAD
USD
USD
USD
USD
GBP
USD
CAD
USD
CAD
USD
USD
USD
USD
USD
USD
USD
USD
GBP
USD
USD
USD
USD
USD
USD
USD
USD
GBP

KeyboardInterrupt:

In [34]:
df

,Timestamp,How old are you?,What industry do you work in?,Job title,"If your job title needs additional context, please clarify here:",Annual Salary,Monetary Compensation,Please indicate the currency,"If ""Other,"" please indicate the currency here:","If your income needs additional context, please provide it here:",What country do you work in?,"If you're in the U.S., what state do you work in?",What city do you work in?,How many years of professional work experience do you have overall?,How many years of professional work experience do you have in your field?,What is your highest level of education completed?,What is your gender?,What is your race? (Choose all that apply.),Total Salary
0,2021-04-27 11:02:09.743,25-34,Education (Higher Education),Research and Instruction Librarian,NaN,55000,0.0,USD,NaN,NaN,United States,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White,55000.0
1,2021-04-27 11:02:21.562,25-34,Computing or Tech,Change & Internal Communications Manager,NaN,54600,4000.0,GBP,NaN,NaN,United Kingdom,NaN,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White,58600.0
2,2021-04-27 11:02:38.125,25-34,"Accounting, Banking & Finance",Marketing Specialist,NaN,34000,NaN,USD,NaN,NaN,US,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman,White,34000.0
3,2021-04-27 11:02:40.643,25-34,Nonprofits,Program Manager,NaN,62000,3000.0,USD,NaN,NaN,USA,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman,White,65000.0
4,2021-04-27 11:02:41.793,25-34,"Accounting, Banking & Finance",Accounting Manager,NaN,60000,7000.0,USD,NaN,NaN,US,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman,White,67000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27941,2023-02-27 06:22:35.240,25-34,Computing or Tech,Sr software engineer,NaN,190000,14000.0,USD,NaN,NaN,United States,Texas,Dallas,5-7 years,5-7 years,College degree,Man,Asian or Asian American,204000.0
27942,2023-03-01 09:43:37.098,45-54,Property or Construction,Property Manager,Senior,55000,13000.0,USD,NaN,NaN,United States,Ohio,Brunswick,21 - 30 years,11 - 20 years,NaN,NaN,NaN,68000.0
27943,2023-03-06 18:16:18.899,25-34,Behavioral Health,Mental Health Therapist,NaN,52416,NaN,USD,NaN,NaN,USA,Virginia,Spotsylvania,2 - 4 years,2 - 4 years,Master's degree,Woman,White,52416.0
27944,2023-03-09 09:11:48.506,18-24,Computing or Tech,Help Desk Associate Analyst,NaN,36000,NaN,USD,NaN,NaN,United States,Illinois,Chicago,5-7 years,2 - 4 years,College degree,Man,Black or African American,36000.0
27945,2023-03-12 14:32:04.060,25-34,Recruitment or HR,HR generalist,NaN,60000,NaN,USD,NaN,NaN,US,California,Diamond bar,1 year or less,1 year or less,College degree,Woman,White,60000.0

In [36]:
# Create a CurrencyRates object
c = CurrencyRates()

# Get the current GBP to USD exchange rate
exchange_rate = c.get_rate('GBP', 'USD')

print("Current GBP to USD exchange rate:", exchange_rate)

Current GBP to USD exchange rate: 1.2578704514923194

In [42]:
df = df.rename(columns={"Please indicate the currency" : "Currency"})

for i in range(total_rows):
    currency_type = df.loc[i, 'Currency']
    if currency_type == "GBP":
        gbp_salary = df.loc[i,  'Total Salary']
        usd_salary = gbp_salary * exchange_rate
        df.loc[i, 'Total Salary'] = usd_salary

In [43]:
df

,Timestamp,How old are you?,What industry do you work in?,Job title,"If your job title needs additional context, please clarify here:",Annual Salary,Monetary Compensation,Currency,"If ""Other,"" please indicate the currency here:","If your income needs additional context, please provide it here:",What country do you work in?,"If you're in the U.S., what state do you work in?",What city do you work in?,How many years of professional work experience do you have overall?,How many years of professional work experience do you have in your field?,What is your highest level of education completed?,What is your gender?,What is your race? (Choose all that apply.),Total Salary
0,2021-04-27 11:02:09.743,25-34,Education (Higher Education),Research and Instruction Librarian,NaN,55000,0.0,USD,NaN,NaN,United States,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White,55000.000000
1,2021-04-27 11:02:21.562,25-34,Computing or Tech,Change & Internal Communications Manager,NaN,54600,4000.0,GBP,NaN,NaN,United Kingdom,NaN,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White,73711.208457
2,2021-04-27 11:02:38.125,25-34,"Accounting, Banking & Finance",Marketing Specialist,NaN,34000,NaN,USD,NaN,NaN,US,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman,White,34000.000000
3,2021-04-27 11:02:40.643,25-34,Nonprofits,Program Manager,NaN,62000,3000.0,USD,NaN,NaN,USA,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman,White,65000.000000
4,2021-04-27 11:02:41.793,25-34,"Accounting, Banking & Finance",Accounting Manager,NaN,60000,7000.0,USD,NaN,NaN,US,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman,White,67000.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27941,2023-02-27 06:22:35.240,25-34,Computing or Tech,Sr software engineer,NaN,190000,14000.0,USD,NaN,NaN,United States,Texas,Dallas,5-7 years,5-7 years,College degree,Man,Asian or Asian American,204000.000000
27942,2023-03-01 09:43:37.098,45-54,Property or Construction,Property Manager,Senior,55000,13000.0,USD,NaN,NaN,United States,Ohio,Brunswick,21 - 30 years,11 - 20 years,NaN,NaN,NaN,68000.000000
27943,2023-03-06 18:16:18.899,25-34,Behavioral Health,Mental Health Therapist,NaN,52416,NaN,USD,NaN,NaN,USA,Virginia,Spotsylvania,2 - 4 years,2 - 4 years,Master's degree,Woman,White,52416.000000
27944,2023-03-09 09:11:48.506,18-24,Computing or Tech,Help Desk Associate Analyst,NaN,36000,NaN,USD,NaN,NaN,United States,Illinois,Chicago,5-7 years,2 - 4 years,College degree,Man,Black or African American,36000.000000
27945,2023-03-12 14:32:04.060,25-34,Recruitment or HR,HR generalist,NaN,60000,NaN,USD,NaN,NaN,US,California,Diamond bar,1 year or less,1 year or less,College degree,Woman,White,60000.000000

In [48]:
print(df['Total Salary'].idxmin())
print(df.loc[8739, 'Total Salary'])

8739
0.0